@{
    ViewBag.Title = "Grupo do Projeto de bloco";
}

<ol class="breadcrumb">
	<li>@Html.ActionLink("Bem-vindo ao Nosso Projeto Final", "Index")</li>
	<li class="active">@ViewBag.Title</li>
</ol>

<h2>@ViewBag.Title</h2>


<ul>
	<li>Eduardo Assunção</li>
	<li>Jonas Ribeiro</li>
	<li>Tiago de Oliveira</li>
</ul>

