@using System.Web.Mvc;

@{
    ViewBag.Title = "Bem-vindo ao Nosso Projeto Final";
    string usuarioLogado = ViewBag.UsuarioLogado != null ? ViewBag.UsuarioLogado : string.Empty;
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Bem-vindo ao Nosso Projeto Final", "Index")</li>
    <li class="active"></li>
</ol>

<div class="jumbotron">
    @if (usuarioLogado != null && !string.IsNullOrWhiteSpace(usuarioLogado))
    {
        <h1>Bem-vindo, Sr. @usuarioLogado</h1>
    }
    else
    {
        <h1>Projeto de Bloco</h1>
    }
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@section scripts{
    <script>
        @*$(document).ready(function () {

            EstaLogado();
        });

        function EstaLogado() {

            if(@usuarioLogado != ""){
                toastr.success("Usuário " + @usuarioLogado + " foi autenticado!","Sucesso");
            }
        }*@
    </script>
}