 ProjetoDeBloco.Api/bin/AutoMapper.dll

packages/Microsoft.AspNet.WebApi.Client.5.2.2/lib/portable-wp8%2Bnetcore45%2Bnet45%2Bwp81%2Bwpa81/System.Net.Http.For
packages/Microsoft.AspNet.WebApi.Client.5.2.2/lib/portable-wp8%2Bnetcore45%2Bnet45%2Bwp81%2Bwpa81/System.Net.Http.For
packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
packages/Modernizr.2.6.2/Modernizr.2.6.2.nupkg
packages/Newtonsoft.Json.6.0.4/lib/portable-net40%2Bsl5%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/portable-net40%2Bsl5%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
packages/Respond.1.2.0/Respond.1.2.0.nupkg
packages/Respond.1.2.0/content/Scripts/respond.js
packages/Respond.1.2.0/content/Scripts/respond.min.js
packages/WebGrease.1.5.2/WebGrease.1.5.2.nupkg
packages/bootstrap.3.0.0/bootstrap.3.0.0.nupkg
packages/bootstrap.3.0.0/content/Content/bootstrap.css
packages/bootstrap.3.0.0/content/Content/bootstrap.min.css
packages/bootstrap.3.0.0/content/Scripts/bootstrap.js
packages/bootstrap.3.0.0/content/Scripts/bootstrap.min.js
packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.svg
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2-vsdoc.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
packages/jQuery.1.10.2/Tools/jquery-1.10.2.intellisense.js
packages/jQuery.1.10.2/jQuery.1.10.2.nupkg
packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate-vsdoc.js
packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.js
packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.min.js
packages/jQuery.Validation.1.11.1/jQuery.Validation.1.11.1.nupkg
packages/repositories.config