@{
    ViewBag.Title = "Impossivel de completar operação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <p>
        Não foi possivel encontrar o registro informado!
    </p>
</div>
