@model ProjetoDeBloco.Aplicacao.ViewModels.TurmaVM
@using ProjetoDeBloco.UI.Helpers

<div class="form-group alinhamento">
    <label class="control-label col-md-1" for="listadaDeAlunos">Alunos</label>
    <div class="col-md-4">
        <select class="form-control" id="listadaDeAlunos">
            <option value="-1">Selecione os alunos</option>
        </select>
        @Html.ValidationMessage("ValidarCampoAluno")
    </div>
</div>

<div class="form-group">
    <button type="button" class="btn btn-primary" id="Adicionar">Adicionar</button>
</div>

<div class="centralizar-table">
    <table id="tabelaDeAlunos" class="table table-striped table-hover largura-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Alunos.Count > 0)
            {
                var index = 0;
                foreach (var aluno in Model.Alunos)
                {
                    <tr>
                        <td>@index</td>
                        <td>@aluno.Nome</td>
                        <input type="hidden" name="Alunos[@index].Nome" class="campo-nome" value="@aluno.Nome" />
                        <td><a class="btn" title="Remover Aluno"><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                    index++;
                }
            }
            else
            {
                <tr class="negrito">
                    <td>Nenhum registro foi encontrado.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .centralizar-table {
        margin-left: 200px;
    }

    .largura-table {
        width: 600px;
    }

    .alinhamento {
        margin-left: 100px;
    }

    .negrito {
        font-weight: bold;
    }

    .campo-nome {
    }
</style>

@using (Html.BeginScripts())
{
    <script>
        $(document).ready(function () {

            ListarAlunos();

            $('#Adicionar').click(function () {

                if (!ValidarAlunosSelecionados()) {
                    return;
                }

                $('.negrito').remove();
                var numeroDeLinhas = $('#tabelaDeAlunos tbody tr').length;

                if (numeroDeLinhas == 0 || numeroDeLinhas != 0) {
                    AdicionarLinha();
                }

                
            });

        });

        function ValidarAlunosSelecionados() {
            var resultado = true;

            var nome = $('#listadaDeAlunos option:selected').text();

            if (nome == "" || nome == "Selecione os alunos") {
                $('#ValidarCampoAluno').html("Informe alunos");
                resultado = false;
            }

            return resultado;
        }

        function AdicionarLinha() {
            numeroDeLinhas = $('#tabelaDeAlunos tbody tr').length;

            var id = numeroDeLinhas + 1;
            var nome = $('#listadaDeAlunos option:selected').text();

            $('#tabelaDeAlunos').append("<tr>" +
                "<input type='hidden' name=Alunos[" + numeroDeLinhas + "].Id class='campo-nome' value='" + id + "'/>" +
                "<input type='hidden' name=Alunos[" + numeroDeLinhas + "].Nome class='campo-nome' value='" + nome + "'/>" +
                "<td>" + id + "</td>" +
                "<td>" + nome + "</td>" +
                "<td><a class='btn removerAluno' title='Remover Alunos'><i class='glyphicon glyphicon-trash'></i></a>" +
                "</td></tr>");
        }

        $(document).on("click", ".removerAluno", function (event) {
            $(this).parent().parent().remove();
            updateRowIndex();
        });

        function updateRowIndex() {
            $("#tabelaDeAlunos tbody tr").each(function (index, value) {
                $(this).find(".campo-nome").attr("name", "Alunos[" + index + "].Nome");
            });
        }

        //function ListarAlunos() {
        //    $.getJSON("/Aluno/Listar", null, function (data) {
        //        $.each(data.Result, function (index, aluno) {
        //            $("#listadaDeAlunos").append("<option value='" + aluno.id + "'>" + aluno.nome + "</option>");
        //        });
        //    });
        //}


        function ListarAlunos() {
            $.getJSON("/Aluno/Listar", function (data) {
                var options;
                for (var i = 0; i < data.length; i++) {
                    options += '<option value="' + data[i].id + '">' + data[i].nome + '</option>';
                   
                }
                $("#listadaDeAlunos").append(options);
            });
        }


        //function displayData(data) {
        //    if (data != null) {
        //        for (var i = 0; i < data.length; i++) {
        //            $("#listadaDeAlunos").append("<li>" + data[i].id + " " + data[i].nome + "</li>")
        //        }
        //    }
        //}



    </script>
}
