@model ProjetoDeBloco.Aplicacao.ViewModels.TurmaVM
@using ProjetoDeBloco.UI.Helpers

<div class="form-group">
    <label for="listadaDeAlunos">Alunos:</label>
    <select class="form-control" id="listadaDeAlunos"></select>
</div>

@using (Html.BeginScripts())
{
    <script>
        $(document).ready(function () {

            $("#listadaDeAlunos").html("");

            $.getJSON("Aluno/Listar", null, function (data) {
                $.each(data.Result, function (index, aluno) {
                    $("#listadaDeAlunos").append("<option value='" + aluno.Id + "'>" + aluno.Nome + "</option>");
                });
            });
        });
    </script>
}

@*@using (Html.BeginScripts())
{
    <script src="@Url.Content("~/Scripts/interno/financas/moeda/indice/cadastrar-indice-da-moeda.js")"></script>
}*@