@model ProjetoDeBloco.Aplicacao.ViewModels.AvaliacaoVM
@{
    ViewBag.Title = "Questionario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questionario</h2>

<div class="col-lg-12 table-bordered" >
    <div></div>
</div>